/*Setting up the body section//////////////////////////////////////*/
/*CSS Page Set-up*/


body{
	background-color: #fff8e9;
    margin: 0;
	padding: 0;
   
}

.title{
	text-align: center;
	font-size: 50px;
  	font-family: 'Inter', sans-serif;
 	font-weight: 600;
	padding-top: 80px;
}

.title1{
	text-align: center;
	font-size: 110px;
  	font-family: 'Inter', sans-serif;
 	font-weight: 600;
	
}

.puzzle{
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.interaction{
	text-align: center;
	font-size: 30px;
  	font-family: 'Inter', sans-serif;
 	font-weight: 600;
	padding-top: 20px;
}

.instructions2{
    text-align: center;
	font-size: 40px;
  	font-family: 'Inter', sans-serif;
 	font-weight: 800;
	padding-top: 340px;
}

.instructions3{
    text-align: center;
	font-size: 30px;
  	font-family: 'Inter', sans-serif;
 	font-weight: 400;
	padding-top: 10px;
    
}

.draggable {
    width: 200px;
    height: 200px;
    background: green;
}