/*Setting up the file*/
*{
  padding: 0;
  margin: 0;
}

/*background*/
body{
  background-image: url("h11.png");
  background-repeat: no-repeat;
  background-size: 100%
} 

/*front and back buttons*/
.backbutton,
.nextbutton{
  position: absolute;
  top: 35px;
  left: 35px;
  border-radius: 50%;
  width: 48px;
  height: 47px;
}

.backbutton{
  top: 37px;
  left: 1385px;
}

/*gif*/
.giffy{
  padding-top: 20px;
}
